@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>Choose from our below accessibility services</h1>
    <div class="row" style="padding-top:50px">
        <div class="col-lg-4" style="text-align:center;font-weight:bold">
            Public Toilets
            <p>

                <div style="text-align:center"><a href="~/Toilet.html"><img src="~/656515024-612x612.jpg" style="text-align:center;height:200px;width:200px"></a></div>


            </p>

        </div>

        <div class="col-lg-4" style="text-align:center;font-weight:bold">
            Water Fountains
            <p>
                <div style="text-align:center"><a href="~/Drink.html"><img src="~/school-water-fountain-clipart-1.jpg" style="text-align:center;height:200px;width:200px"></a></div>
            </p>
        </div>

        <div class="col-lg-4" style="text-align:center;font-weight:bold">
            Restaraunts
            <p>
                <div style="text-align:center"><a href="@Url.Action("NearbyRestv2","Home","")"><img src="~/download (1).png" style="text-align:center;height:200px;width:200px"></a></div>
            </p>
        </div>
    </div>
</div>