
<div class="jumbotron" >
    <div class="text-left">
        <h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:white;background-color:black;opacity:0.7">
            Your Daily Companion
        </h2>
        <h3 style="padding-bottom:1px">Ensuring your health & Safety in</h3>
        <h3 style="padding-top:1px">diverse workplace condition</h3>
    </div>

    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div >
    <h1 style="text-align:center;font-family:Arial;color:black"> Why Choose Us?</h1>
</div>

<div class="row">
    <div class="col-lg-6" style="text-align:center">
        <img src="~/WhatsApp Image 2018-08-30 at 7.46.03 PM.jpeg" style="height:250px;width:500px" />
    </div>

    <div class="col-lg-6" style="text-align:center">
        <img src="~/WhatsApp Image 2018-08-30 at 7.46.20 PM.jpeg" style="height:250px;width:500px" />
    </div>

    <div class="row">
        <div class="col-lg-pull-11" style="text-align:center;padding-top:300px;padding-left:29px;padding-right:29px">

            <p style="font-size:large">The death due to skin care is increasing rapidly in the past 50 years and the death rate of skin cancer is also increasing steadly in Australia. We aim to privide safe and helpful information for all the outdoor workers to stay away from skin cancer, especially for self-employed workers.</p>
            <div style="text-align:center"><a href="~/UV.html"><img src="~/WhatsApp Image 2018-08-30 at 11.15.52 PM.jpeg" style="text-align:center;height:100px;width:300px"></a></div>
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>*@
        </div>
</div>
    </div>
<h2 style="background-color:darkslategrey;text-align:center;color:white">Our Services</h2>


    <div class="row" style="padding-left:200px">
        <div class="col-lg-5">
            <p>

                <div style="text-align:center"><a href="@Url.Action("Weather","Home","")"><img src="~/WhatsApp Image 2018-08-30 at 7.42.35 PM (1).jpeg" style="text-align:center;height:300px;width:300px"></a></div>
                <div style="font-size:large;text-align:justify">
                    High UV index is harmful to all the outdoor workers, we offer daily UV information of your workplace and provide instrumental suggestions
                </div>
            </p>

        </div>

        <div class="col-lg-5" style="padding-top:52px" >
            <p>
                <div style="text-align:center"><a href="@Url.Action("Accessibility","Home","")"><img src="~/WhatsApp Image 2018-08-30 at 7.42.35 PM.jpeg" style="text-align:center;height:200px;width:200px"></a></div>
                <div style="font-size:large;text-align:justify;padding-top:48px">
                    We provide all the public accessibility information around your workplace, such as parking, toilets, water fountain, medical centers, pharmacys.
                </div>
            </p>
        </div>
    </div>


    
<div></div>